:root {
	// Colors Primary
	--white: hsl(0, 0%, 100%);
	--light-cyan: hsl(193, 38%, 86%);
	--neon-green: hsl(150, 100%, 66%);
	// Colors Neutral

	--grayish-blue: hsl(217, 19%, 38%);
	--dark-grayish-blue: hsl(217, 19%, 24%);
	--dark-blue: hsl(218, 23%, 16%);
	//Fonts
	--font-primary: 'Manrope', sans-serif;
}
