.Card {
	display: flex;
	width: 540px;
	padding: 47px 0 56px 0;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border-radius: 15px;
	background-color: var(--dark-grayish-blue);
	position: relative;

	&Title {
		color: var(--neon-green);
		text-align: center;
		font-size: 1.4rem;
		line-height: 2rem;
		letter-spacing: 2.52px;
	}

	&Content {
		display: flex;
		padding: 1.4rem 4.6rem;

		p {
			color: var(--light-cyan);
			text-align: center;
			font-size: 2.75rem;
			line-height: 3.8rem;
		}
	}

	&Picture {
		padding: 16px 39px;
	}

	&Button {
		position: absolute;
		bottom: -32px;
		left: 50%;
		transform: translateX(-50%);
		padding: 20px;
		display: grid;
		place-items: center;
		border-radius: 40px;
		background: var(--neon-green);
		cursor: pointer;
		transition-property: box-shadow, transform, filter;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&:hover {
			transform: translateX(-50%) rotateZ(180deg);
			box-shadow: 0 0 35px 0 var(--neon-green);
		}

		&:active {
			filter: brightness(0.8);
		}
	}

	@media screen and (max-width: 650px) {
		width: 343px;
		padding: 40px 0px 62px 0px;

		&Title {
			font-size: 1.15rem;
		}

		&Content {
			display: flex;
			padding: 1.4rem 1.9rem;

			p {
				font-size: 2.4rem;
				line-height: 3.3rem;
			}
		}
	}
}
